:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
body{
  background-color: rgb(22, 22, 22);
  color: white;
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: rgb(12, 12, 12);
  border-radius: 0 0 20px 20px;
  backdrop-filter: blur(6px);
}
nav h4{
  padding: 10px;
  padding-left: 20px;
}
.usuario h4{
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 5px;
  padding-top: 0;
}
nav a{
  margin: 10px;
  text-decoration: none;
}
nav a:visited{
  color: #9b9b9b;
}
nav a:hover{
  color: rgb(218, 218, 218);
  transition: all 0.4s;
  border-bottom: solid 1.5px #4f46e5;
}
.link.active {
  color: #fff;
  border-bottom: solid #4f46e5;
  font-weight: bold;
}
h1{
  text-align: center;
}
.bienvenida{
  margin-bottom: 5px;
}
.bienvenida-baja{
  margin-top: 5px;
}
.cerrar-sesion{
  margin-bottom: 15px;
}
button{
  border: none;
  width: auto;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(40, 40, 40);
  color: white;
  padding: 5px;
}
button:hover{
  border: solid #8787ff 1px;
  box-shadow: 0px 0px 5px #6464ff;
  scale: 1.1;
  transition: 0.3s;
}
.content-form{
  display: flex;
  justify-content: center;
}
form{
  border: solid;
  padding: 10px;
  width: 35vw;
  background: linear-gradient(180deg, #1e1e1e, #151515);
  border-radius: 12px;
  padding: 16px 20px;
  box-shadow: 0 12px 25px rgba(0,0,0,.45);
  border: 1px solid rgba(255,255,255,.05);
}
form button{
  border: none;
  width: 60px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(40, 40, 40);
  color: white;
}
form button:hover{
  border: solid #8787ff 1px;
  scale: 1.1;
  transition: 0.3s;
}
form input{
  width: 150px;
  height: 15px;
  border: none;
  border-radius: 5px;
  margin: 10px;
}

li{
  text-align: start;
}

.contenedor-log{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mensaje-exito{
  color: #00ff0d;
}
.Right{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

ol{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.contenedor-supremo{
  display: flex;
  flex-direction: row;
}
.contenedor-supremo .aside{
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-supremo .aside .historial{
  width: 40vw;
}
.contenedor-supremo .aside .historial ul{
  padding: 0;
}
.contenedor-supremo .aside .historial ul li{
  width: 40vw;
  display: flex;
  justify-content: space-between;
}

.contenedor-supremo .Right{
  width: 50vw;
}
.card-prod{
  border: solid 2px;
  width: 150px;
  margin: 5px;
  background: linear-gradient(180deg, #1e1e1e, #151515);
  border-radius: 12px;
  box-shadow: 0 12px 25px rgba(0,0,0,.45);
  border: 1px solid rgba(255,255,255,.05);
}
.card-prod .main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}
.card-prod .footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 10px;
}
.footer h4{
  margin: 0;
}
.card-prod .color{
  height: 10px;
  background-color: red;

}

.card-prod.bajo .color {
  background: #e53935;
}

.card-prod.medio .color {
  background: #fbc02d;
}

.card-prod.ok .color {
  background: #43a047;
}
.stock-bar {
  height: 10px;
  background: #eee;
  border-radius: 5px;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%; /* que ocupe todo el ancho disponible */
  max-width: 120px; /* opcional: límite máximo de ancho */
}

.fill {
  height: 100%;
  transition: width 0.3s ease; /* para que la barra se llene suavemente */
  border-radius: 5px 0 0 5px; /* bordes redondeados solo al inicio */
}

.fill.bajo { background: red; }
.fill.medio { background: orange; }
.fill.ok { background: green; }





.contenedor{
  height: 200px;
  width: 100vw;
  background-color: rgb(12, 12, 12);
  display: flex;
  justify-content: space-around;
  align-self: center;
  align-items: center;
}
.cards{
  height: 120px;
  width: 12vw;
  background: linear-gradient(180deg, #1e1e1e, #151515);
  border-radius: 8px;
  border: 1px solid rgba(255,255,255,.05);
  box-shadow: 0 10px 10px rgba(0,0,0,0.4);
  transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.cards:hover{
  transform: translateY(-6px) scale(1.05);
  box-shadow: 0 18px 30px rgba(0,0,0,0.6);
}
.cards h3{
  font-size: 40px;
  font-weight: 250;
  margin: 5px;
  margin-bottom: 0;
  color: rgb(135, 135, 255);
}
.cards h4{
  margin: 0px;
  font-size: 15px;
  font-weight: bold;
}
.cards a{
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 5px;
}
.cards a:visited{
  color: rgb(135, 135, 255);
}
.ValoInventario{
  text-align: start;
}
.ValoInventario h3{
  font-weight: bold;
}
.ValoInventario .venta{
  margin-bottom: 10px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.4);
  transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease;
  background: linear-gradient(180deg, #1e1e1e, #151515);
  border-radius: 12px;
  padding: 8px 2px;
  border: 1px solid rgba(255,255,255,.05);
}
.venta:hover{
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 18px 30px rgba(0,0,0,0.6);
}
.venta{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 5px;
  width: 18vw;
}
.venta .venta-palabra{
  padding-left: 5px;
  font-weight: bold;
}
.venta .venta-numero{
  padding-right: 5px;
  font-weight: bold;
}

.contenedor-main{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.contenedor-chico{
  width: 30vw;
  margin: 10px;
  transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease;
  background: linear-gradient(180deg, #1e1e1e, #151515);
  border-radius: 12px;
  padding: 16px 20px;
  box-shadow: 0 12px 25px rgba(0,0,0,.45);
  border: 1px solid rgba(255,255,255,.05);
}
.contenedor-chico ul li{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5px;
}
.contenedor-chico ul{
  list-style: none;
  padding: 5px;
  margin-bottom: 10px;
}
.contenedor-chico .cantidad{
  font-weight: bold;
  color: rgb(236, 72, 72);
}
.cerrado{
  display: none;
}
.abierto{
  display: block;
}
.formulario{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.form-contenedor{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.conten{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.conten-interno{
  width: 60vw;
  height: 150px;
  background: linear-gradient(180deg, #1e1e1e, #151515);
  border-radius: 12px;
  padding: 16px 20px;
  box-shadow: 0 12px 25px rgba(0,0,0,.45);
  border: 1px solid rgba(255,255,255,.05);
}
.conten-interno button{
  width: 15vw;
  height: 50px;
}
.conten-interno .conten-botones{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.conten-interno .conten-botones .venta{
  background-color: #26a72c;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.conten-interno .conten-botones .venta:hover{
  border: solid #00ff0d 1px;
  box-shadow: 0px 0px 10px #00ff0d;
}
.venta svg, .compra svg{
  padding: 5px;
}

.conten-interno .conten-botones .compra{
  background-color: #2450a1;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: bold;
}

.conten-interno .conten-botones .compra:hover{
  border: solid #0059ff 1px;
  box-shadow: 0px 0px 10px #0059ff;
}












@media (max-width: 600px) {

  /* home */
  .contenedor{
    display: flex;
    flex-direction: column;
    height: auto;
  }
  .contenedor .cards{
    width: 50vw;
    margin: 10px;
  }
  .contenedor .ValoInventario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contenedor .ValoInventario .venta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: auto;
  }

  .contenedor-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contenedor-main .contenedor-chico{
    width: 50vw;
  }
  .conten-interno{
    width: 70vw;
  }
  .conten-interno button{
    width: 30vw;
  }
  .pantalla, .pantalla2{
    width: 80vw;
  }
  .pantalla form, .pantalla2 form{
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  .form-contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  /* inventario */
  nav{
    justify-content: center;
    flex-direction: column;
    height: auto;
    padding: 10px;
  }
  nav h4{
    margin: 5px;
    padding: 10px;
  }
  .contenedor-supremo{
    display: flex;
    flex-direction: column;
  }
  .contenedor-supremo .aside, .Right{
    width: 100vw;
  }
  .contenedor-supremo .Right{
    width: 100vw;
  }
  .contenedor-supremo .aside .historial{
    width: 85vw;
  }
  .contenedor-supremo .historial ul{
    padding: 0;
  }
  .contenedor-supremo .aside .historial ul li{
    width: 80vw;
  }
  .contenedor-supremo .historial ul .venta{
    list-style: circle;
  }
  



  .contenedor-supremo .Right ol{
    padding: 0;
    justify-content: center;
  }
  .contenedor-supremo .aside form{
    width: 80vw;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .contenedor-supremo .aside form input{
    width: 60vw;
  }
  .contenedor-supremo .aside form select{
    margin-bottom: 5px;
  }

  .contenedor-supremo .historial small{
    text-align: center;
  }




  .grafico-general p {
    text-align: start;
    padding: 10px;
  }
}



.contenedor-ventas-interno-tabla {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.contenedor-ventas-interno-tabla ul{
  padding: 0;
  width: 60vw;
  padding: 5px;
  transition: 
    transform 0.3s ease,
    box-shadow 0.3s ease;
  background: linear-gradient(180deg, #1e1e1e, #151515);
  border-radius: 12px;
  padding: 16px 20px;
  box-shadow: 0 12px 25px rgba(0,0,0,.45);
  border: 1px solid rgba(255,255,255,.05);
}
.contenedor-ventas-interno-tabla ul li{
  border-bottom: solid rgb(51, 51, 51);
}

.venta-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #e5e7eb;
}

.venta-info {
  display: flex;
  flex-direction: column;
}

.producto {
  font-weight: 500;
}

.fecha {
  font-size: 12px;
  opacity: 0.7;
}

.cantidad {
  font-weight: 600;
}













.contenedor-stock{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contenedor-main-stock{
  border: solid;
  width: 70vw;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(180deg, #1e1e1e, #151515);
  border-radius: 12px;
  box-shadow: 0 12px 25px rgba(0,0,0,.45);
  border: 1px solid rgba(255,255,255,.05);
}
.contenedor-main-stock ul {
  list-style: none;
  padding: 0;
}
.stock-info li{
  margin-right: 5px;
}

.variantes-stock ul{
  display: flex;
  flex-direction: row;
}
.ordenar{
  margin: 10px;
}

.contenedor-stock #busqueda{
  width: 40vw;
  height: 25px;
  border-radius: 5px;
  border: solid 1px white;
  background-color: #0c0c0c;
  padding: 5px;
}

.stock-extra{
  text-align: end;
}
.stock-extra .iconosMod a{
  padding: 2.5px;
  cursor: pointer;
}
.item-stock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  margin-bottom: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,.05);
  border-bottom: solid 1px;
}
.item-stock h3{
  margin: 0;
}
.item-stock.bajo {
  border-left: 6px solid #dc2626;
  border-bottom: solid 2px #dc2626;

}

.item-stock.medio {
  border-left: 6px solid #f59e0b;
  border-bottom: solid 2px #f59e0b;
}

.item-stock.ok {
  border-left: 6px solid #16a34a;
  border-bottom: solid 2px #16a34a;
}

.stock-est {
  font-size: 13px;
  opacity: 0.7;
}

.precio {
  font-weight: 600;
}
.btn-pdf{
  margin: 15px;
}
.btn-pdf{
  border: none;
  width: auto;
  padding: 5px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(40, 40, 40);

}
.btn-pdf:hover{
  border: solid rgb(79, 18, 136) 3px;
  scale: 1.2;
  transition: 0.3s;
}

.grafico-general{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contenedor-grafico {
  max-width: 800px;     /* tamaño en desktop */
  margin: 0 auto;
}
.contenedor-grafico canvas {
  height: 320px !important;
}

@media (max-width: 768px) {
  .contenedor-grafico {
    max-width: 100%;
    padding: 0 10px;
  }

  .contenedor-grafico canvas {
    height: 260px !important;
  }
}